<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Precious Customer</h2>
            <h4>Antonio</h4>
        </div>
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Will_Smith_2011%2C_3.jpg" alt="Soufiane FADIL"> -->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default">Dashboard</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/posts">Posts</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/posts">Purchase History</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/posts">Store</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <br>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/chat">
        <mat-icon>contact_phone</mat-icon>
        Chat Room
    </a>

</mat-nav-list>